body {
    background-color: rgb(201, 255, 5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} 

*{font-family: sans-serif;
   box-sizing: border-box; 

}
form {
    width: 500px;
    border: 2px solid #ccc;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
}
h2 {
    text-align: center;
    margin-bottom: 40px;
}
input {
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}
label {
    color: #888;
    font-size: 18px;
    padding: 12px;
}
button {
    float: right;
    background:red;
    padding: 10px 15px;
    color: #fff;
    border-radius: 7px;
    margin-right: 12px;
    border: none;
}
button:hover{
    opacity: 5;
}
.error {
    background: #F2DEDE;
    color: #42a9a9;
    padding: 10px;
    width: 97%;
    border-radius: 7px;
}